.vs/
.idea/
.vscode/
obj/
bin/
artifacts/
wwwroot/
node_modules/
*.user
.pnpm-debug.log

# Mac
.DS_Store

ShowOrchard.Theme/Recipes/ShowOrchard.MediaTheme.recipe.json
ShowOrchard.Theme/Recipes/_MediaTheme/
