<article class="content-item content-item-detail website website-detail">
    <header class="content-item-header">
        {{ Model.Header | Display }}
    </header>

    {{ Model.Content | Display }}

    <div class="content-item-meta">
        {{ Model.Meta | Display }}
    </div>
</article>