<a href="{% Href Model.ContentItem.AutoroutePart.DisplayAlias %}" class="website-stepper previous-stepper btn btn-default pull-left glyphicon glyphicon-arrow-left">
    ← {{ Model.ContentItem.TitlePart.Title }}
</a>