<div class="related-website col-md-4">
    <article class="content-item content-item-summary website website-summary">
        <header class="content-item-header">
            {{ Model.Header | Display }}
        </header>

        {{ Model.Content | Display }}
    </article>
</div>