{% if Model.ContentField.Value != null %}
    <span class="link-field link-field-developer">
        {{ Model.ContentField.DisplayName }} <a href="{{ Model.ContentField.Value }}" target="_blank">{{ Model.ContentField.Text }}</a>
    </span>
{% endif %}