<span class="taxonomy-field">
    {{ Model.ContentField.DisplayName }}

    {% assign termCount = Model.Terms | Size %}

    {% for term in Model.Terms %}
        {% assign termCount = termCount | Minus: 1 %}
        
        {% if termCount > 0 %}
            <a href="{% Href term.ContentItem.AutoroutePart.DisplayAlias %}">{{ term.Name }},</a>
        {% else %}
            <a href="{% Href term.ContentItem.AutoroutePart.DisplayAlias %}">{{ term.Name }}</a>
        {% endif %}
    {% endfor %}
</span>
