// Show Orchard colors
$so-color-primary: #23489f; // Lombiq blue
$so-color-red: #ff4b55; // Lombiq red
$so-color-green: #7ac943; // Lombiq green
$so-color-blue: #00b6e6; // Lombiq light blue
$so-color-text: #333; // Dark gray for text
$so-color-background: #fff; // White background

// Show Orchard paths
$base-path: "../" !default;
$images-path: "#{$base-path}images" !default;
$fonts-path: "#{$base-path}fonts" !default;

// Bootstrap overrides.
$container-max-widths: (
    sm: 750px,
    lg: 830px,
    xl: 870px,
);
$link-color: $so-color-primary;
$body-color: $so-color-text;
$grid-gutter-width: 1.875rem;
$spacer: 1.5rem;
$enable-rfs: false;
$font-family-base: "Raleway", sans-serif;
$font-size-base: 1.0625rem;
$font-size-sm: 0.875rem;
$line-height-base: 1.7;
$headings-font-weight: 700;
$headings-line-height: 1.4;
$h1-font-size: 2.25rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.375rem;
$link-decoration: underline;
$list-group-border-width: 0;
$list-group-item-padding-y: 0;
$list-group-item-padding-x: 0;

// Custom variables
$spacer-large: $spacer * 2;
$spacer-small: calc($spacer / 2);
$gutter: $grid-gutter-width;
$gutter-small: calc($gutter / 2);
